.buttons {
    background-color: #3ab1d1;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    scale: 200%;
}

.buttons:hover {
    background-color: #007bff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}