.buttons {
    background-color: #3ab1d1;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.buttons:hover {
    background-color: #3a8dd1;
    transform: scale(1.5);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}